<!-- the pound sign creates an angular variable-->
<canvas #canvas></canvas>
<!-- These input and select elements allow the user to color, size and style of his drawing -->
<input id="lineWidth" [(ngModel)]="options['lineWidth']" type="number" name="lineWidth">
<select id="lineCap" [(ngModel)]="options.lineCap" type="select" name="lineCap">
  <option value="round">Round</option>
  <option value="butt">Butt</option>
  <option value="square">Square</option>
</select>
<input type="color" id="strokeStyle" name="strokeStyle" [(ngModel)]="options.strokeStyle">
<button id="clear" (click)="sendClear()">Clear</button>
<!-- Chat Message -->
<ul>
  <li *ngFor="let message of chatMessages">{{message}}</li>
</ul>
<input type="text" id="chatInput" name="chatInput" [(ngModel)]="myMessage">
<button id="sendChat" (click)="sendMessage()">Send</button>
<!-- Answer Box -->
<ul>
  <li *ngFor="let answer of answers">{{answer}}</li>
</ul>
<input type="text" id="answerInput" name="answerInput" [(ngModel)]="myAnswer">
<button id="sendAnswer" (click)="sendAnswer()">Send</button>
